*{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* styling in navigation bar */
.navbar {
    display: flex;
    position: relative;
    
    justify-content: flex-end;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: .2;
    z-index: -1;
}
.logo{
    margin: 8px auto 10px 25px;
}
.logo h1{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    font-size: 1rem;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 11px 11px 0px 0px;
    padding: 5px 13px 5px 13px;
    border-radius: 16px;
}

.navbar ul li a:hover{
    color:rgb(0,0,0);
    background-color: rgb(255, 255, 255);
}

/* styling in home page */

#sec{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec::before{
    content: "";
    position: absolute;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.content h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.content h4{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    margin: 4px 0px 10px 0px;
}

.btn{
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    padding: 10px;
    font-size: .8rem;
    font-weight: bold;
}

.btn:hover{
    color: rgb(255, 255, 255);
    background: rgba(255, 0, 0,0.3);
    
}

/* styling in container box */

.container h1{
    color: rgb(0,0,0);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.service{
    margin: 20px;
    display: flex;
}
.box{
    text-align: center;
    margin: 9px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(234 228 228);
}
.box p {
    padding: 10px 0 5px 0px;
    font-size: .8rem;
    font-weight: bold;
}
.service .box img{
    display: block;
    margin: auto;
    max-height: 120px;
}

/* styling in about us section */

.section-about{
    margin-top: 34px;
    height: 600px;
    text-align: center;
}

.section-about h1{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
}

.about{
    display: flex;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.about::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8))
    ,url(sticky.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
    z-index: -1;
}

.two-box img{
    display: block;
    margin: auto;
    height: 150px;
}

.two-box{
    margin: 20px;
    padding: 10px;
}
 
.two-box h1{
    margin: 10px 0px 10px 0px;
    font-size: 2rem;
    font-weight: bold;
    color: #ffc800;
} 

.two-box p{
    padding: 0px 20px 0px 20px;
    font-size: .8rem;
    font-weight: bold;
} 

.two-box h4{
    color:rgb(255, 0, 0);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

